<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <%= stylesheet_link_tag "screen.css" %>
    <%= yield_content :head %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="header-wrap">
      <div id="header">
        <header>
           <h1><a id="logo" href="#">Justinmaller</a></h1>
        </header><!-- /header -->
        <nav>
          <ul>
            <li class="nav-item"><a id="nav-home" class="nav-link" href="#">WALLPAPERS</a></li>
            <li class="nav-item"><a id="nav-portfolio" class="nav-link" href="#">CONTACT</a></li>
            <li class="nav-item"><a id="nav-about" class="nav-link" href="#">ABOUT</a></li>
            <li class="nav-item"><a id="nav-about" class="nav-link" href="#">CATEGORIES</a></li>
            <li class="nav-item"><a id="nav-twitter" class="nav-link" href="#">TWITTER</a></li>
          </ul>
        </nav>
      </div> <!-- #header -->
    </div> <!-- #header-wrap -->
    <%= yield %>
    <footer>
      <div id="footer-wrap">
        <div id="footer-top"></div>
        <div id="contact">
          <form action="#" method="post" accept-charset="utf-8">
            <input id="email" type="email" name="email">
            <input type="image" src="/img/newsletter.png" name="submit">
          </form>
        </div>
        <div id="footer-info-wrap">
          <a id="depthcore" href="http://www.google.com.tw">Depthcore</a>
          <a id="hosting" href="#">hosting</a>
          <div id="copyright">2010 All Right Reserved</div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </body>
</html>