/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.sass */
a {
  color: black;
  text-decoration: none;
  display: block;
}

/* line 14, ../sass/screen.sass */
a:hover {
  color: red;
}

/* line 17, ../sass/screen.sass */
img {
  display: block;
}

/* line 20, ../sass/screen.sass */
body {
  position: relative;
  width: 1260px;
  margin: 0px auto 0px;
  padding: 45px 0 0 0;
}

/* line 26, ../sass/screen.sass */
header {
  margin: 0 auto;
}

/* line 29, ../sass/screen.sass */
#logo {
  background: url("/img/logo.png");
  text-indent: -9999px;
  width: 305px;
  height: 84px;
  margin: 0 auto;
}

/* line 36, ../sass/screen.sass */
#float-eagle {
  position: absolute;
  top: -104px;
  right: 40px;
}

/* line 41, ../sass/screen.sass */
nav {
  font-family: sans-serif;
  text-align: center;
  margin: 0px auto;
  padding: 34px 0 52px;
}

/* line 47, ../sass/screen.sass */
.nav-item {
  padding: 0 10px;
  font-size: 11px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav-item {
  *display: inline;
}

/* line 52, ../sass/screen.sass */
.gallery-item {
  padding: 0 35px 24px 0;
  float: left;
  display: inline;
  text-align: center;
  width: 200px;
  min-height: 182px;
  _height: 182px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.gallery-item {
  *display: inline;
}

/* line 62, ../sass/screen.sass */
#gallery-wrapper {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

/* line 67, ../sass/screen.sass */
.item-title, .item-subtitle {
  font-weight: normal;
}

/* line 70, ../sass/screen.sass */
.item-title {
  font-family: serif, sans-serif;
  font-size: 11px;
  color: #aaaaaa;
  padding: 6px 0 2px 0;
}

/* line 76, ../sass/screen.sass */
.item-title:hover {
  color: #aaaaaa;
  text-decoration: underline;
}

/* line 80, ../sass/screen.sass */
.item-subtitle {
  font-family: serif, sans-serif;
  width: 200px;
  font-size: 11px;
}
