/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
body {
  background: #151515;
}

/* line 15, ../sass/screen.sass */
a {
  color: white;
  text-decoration: none;
  font-family: serif;
}

/* line 20, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 23, ../sass/screen.sass */
a, img {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a, img {
  *display: inline;
}

/* line 27, ../sass/screen.sass */
#page-wrapper {
  width: 1261px;
  margin: 0 auto;
  padding: 111px 0 0 0;
}

/* line 32, ../sass/screen.sass */
#header {
  padding: 0 265px 0 0;
}

/* line 35, ../sass/screen.sass */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/logo.png?1329275884');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 363px;
  height: 44px;
  display: inline;
  float: right;
}

/* line 39, ../sass/screen.sass */
#gallery-wrapper {
  overflow: hidden;
  *zoom: 1;
  width: 1110px;
  margin: 0 auto;
  padding: 74px 0 0;
}

/* line 45, ../sass/screen.sass */
#gallery-title {
  color: white;
  font-size: 35px;
  font-style: italic;
  padding: 0 0 20px 7px;
}

/* line 51, ../sass/screen.sass */
.gallery-item {
  display: inline;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 7px 119px;
  height: 321px;
  width: 540px;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.gallery-item {
  *display: inline;
}

/* line 58, ../sass/screen.sass */
.gallery-span {
  color: #0491ab;
}

/* line 61, ../sass/screen.sass */
.item-title {
  color: white;
  font-size: 22px;
  padding: 20px 0 15px 0;
}

/* line 66, ../sass/screen.sass */
.item-subtitle {
  background: black;
  color: #999999;
  padding: 0 0 14px 0;
  font-size: 12px;
}

/* line 72, ../sass/screen.sass */
#content {
  color: white;
  width: 1100px;
  margin: -35px auto 0;
  text-align: center;
  font-style: italic;
}

/* line 79, ../sass/screen.sass */
#content-bar-top {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/content-bar-top.png?1329284666');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 1110px;
  height: 2px;
}

/* line 82, ../sass/screen.sass */
#content-bar-bottom {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/content-bar-bottom.png?1329284666');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 1110px;
  height: 14px;
}

/* line 85, ../sass/screen.sass */
#content-title {
  font-size: 35px;
  padding: 60px 0 0 0;
}

/* line 89, ../sass/screen.sass */
#content-content {
  font-size: 19px;
  padding: 22px 0 0 0;
}

/* line 93, ../sass/screen.sass */
nav {
  color: white;
  font-size: 25px;
  font-style: normal;
  padding: 30px 0 60px 0;
}

/* line 99, ../sass/screen.sass */
.nav-item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: #0491ab;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav-item {
  *display: inline;
}

/* line 103, ../sass/screen.sass */
#footer-wrapper {
  width: 1100px;
  padding: 56px 0 0 0;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 109, ../sass/screen.sass */
.info-wrapper {
  display: inline;
  float: left;
  width: 247px;
  padding: 0 27px 0 0;
}

/* line 114, ../sass/screen.sass */
.info-title {
  color: white;
  font-size: 22px;
  padding: 0 0 17px 0;
}

/* line 119, ../sass/screen.sass */
.info-content {
  background: #111111;
  color: #888888;
  font-size: 13px;
}
