<% content_for :head do %>
  <title>Seattle Website Design by Pixelumbrella: Online Portfolio of Web Designer and Developer Nick Robinson</title>
<% end%>
<!-- <div id="original"></div> -->
<header>
  <h1><a href="#" id="logo">Seattle Website Design by Pixelumbrella: Online Portfolio of Web Designer and Developer Nick Robinson</a></h1>
</header>
<div id="desc-bg">
  <div id="desc">
    <div id="desc-left">
      <div id="desc-left-top">
        <h3 id="desc-left-subtitle">pixelumbrella is</h3>
        <h2 class="title">NICK ROBINSON</h2>
        <div class="content">I make quality designs and hand-coded web solutions for nice people. For more than six years I have achieved stunning results using my proven process:</div>
      </div>
      <ul>
        <li id="desc-list-first-item" class="desc-list-item" >design things</li>
        <li id="desc-list-second-item" class="desc-list-item" >make websites</li>
      </ul>
    </div> <!-- #desc-left -->
    <div id="desc-right">
      <div id="photo-nav">
        <a id="previous-photo" href="#">Previous</a>
        <a id="current-photo" href="#"><img src="/img/alone-together.gif" alt="Alone Together" href="#"></a>
        <a id="next-photo" href="#">Next</a>
      </div>
      <div id="feature-site-wrap">
       <span id="feature-site-span">FEATURED WEBSITE:</span> BORN MAGAZINE
      </div>
    </div> <!-- #desc-right -->
  </div> <!-- #desc -->
</div> <!-- #desc-bg -->
<div id="gallery">
  <% 6.times do %>
  <div class="gallery-item">
    <a class="photo-link" href="#"><img src="/img/billions.jpeg" alt="Billions"></a>
    <div class="gallery-content-wrap">
      <h3><a class="gallery-title" href="#">Billions Corporation</a></h3>
      <h4><a href="#" class="gallery-subtitle">Design and WordPress setup for Chicago-based booking agency</a></h4>
    </div>
  </div> <!-- .gallery-item -->
  <% end %>
  <div id="more-work-wrap">
    <a href="#" id="more-work">Click to View Additional Work</a>
  </div>
</div> <!-- #gallery -->
<div id="footer-bg">
  <footer>
    <div id="footer-about">
      <img src="/img/nick-robinson.gif" alt="Nick Robinson" class="about-img">
      <div id="about-content-wrap">
        <h3 id="about-title" class="title">ABOUT THE SITE</h3>
        <p class="content">Pixelumbrella is the online portfolio of Seattle-based web designer and developer Nick Robinson.</p>
        <p class="content">His designs and code have been stolen on several occasions it's likely he is doing something right.</p>
      </div>
    </div>
    <div id="footer-elsewhere">
      <h3 id="elsewhere-title" class="title">ELSEWHERE</h3>
      <p class="content">Looking for a quote? Questions? Comments? Find Nick around the internet on these excellent sites:</p>
      <div>
        <ul>
          <% 7.times do %>
          <li class="elsewhere-li"><a href="#" class="elsewhere-link">LinkedIn</a></li>
          <% end %>
        </ul>
      </div>
    </div> <!-- #footer-elsewhere -->
  </footer>
</div>
<div id="meta">
  <div id="copyright">©2011 PIXELUMBRELLA</div>
  <a id="xhtml">Valid XHTML</a>
  <a id="css">Valid CSS</a>
  <a href="#" id="top">Top</a>
</div>