<% content_for :head do %>
  <title>Justinmaller</title>
<% end %>

<div id="wrap">
  <div id="page">
    <div id="gallery-wrap">
      <ul>
        <% 49.times do |num| %>
        <li class="gallery-item">
          <div class="item-wrap">
            <div class="inner-wrap">
              <div class="photo-wrap">
                <a class="item-link" href="#">
                  <img src="/img/gallery-<%= num+1 %>.jpeg" alt="Gallery item">
                </a>
                <div class="counts"><%= num+1 %> IMAGES</div>
              </div>
              <h3 class="item-title"><%= lorem.words 5 %></h3>
              <h4 class="item-subtitle"><%= lorem.words 7 %></h3>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div> <!-- #gallery-wrap -->
  </div>
</div> <!-- #page-wrap -->
