<% content_for :head do %>
  <title>Icebrrg - HTML Web forms, surveys, and invitations made chillingly simple</title>
<% end %>
<!-- <div id="original"></div> -->

<div id="top">Already Have an Account? <a href="#" id="sign-in">Sign-in</a> <span id="top-sapn">to edit your forms</span></div>
<h3 id="new-intergrated-payment">New Intergrated Payment</h3>
<div id="main-bg">
  <div id="header">
    <header>
      <h1><a href="#" id="logo"></a></h1>
    </header>
    <nav>
      <ul>
        <li class="nav-item"><a href="#" id="nav-what" class="nav-link">What it Does</a></li>
        <li class="nav-item"><a href="#" id="nav-how" class="nav-link">How to Use it</a></li>
        <li class="nav-item"><a href="#" id="nav-sign-up" class="nav-link">Sign-up</a></li>
      </ul>
    </nav>
  </div> <!-- #header -->
  <div id="flow">
    <div id="desc">
      <div class="desc-content-wrap">
        <h3 class="desc-title">Add to your website</h3>
        <div class="desc-content">Put your form on your own pages. We even provide you the simple lines of code you need. Just drop them on an HTML page or in your blog’s HTML editor and you’re published!</div>
        <a href="#" class="try">Try it today »</a>
      </div>
      <div class="desc-pic-wrap">
        <img src="/img/form-types.png" alt="Add to your website" class="desc-pic">
      </div>
    </div>
    <div id="step-bg">
      <div id="step">
        <div class="step-item"><a href="#" id="step-one" class="step-link">Design your form</a></div>
        <div class="step-item"><a href="#" id="step-two" class="step-link">Add to your website</a></div>
        <div class="step-item"><a href="#" id="step-three" class="step-link">Get your results</a></div>
      </div>
    </div>
  </div> <!-- #flow -->
  <div id="feature-list">
    <div class="feature">
      <div class="title-wrap">
        <img src="/img/icon-build.jpeg" alt="Build" class="title-pic">
        <h3 class="feature-title">Build your own forms in minutes!</h3>
      </div>
      <p class="feature-content">Icebrrg lets anyone create web forms that look great and work even better.<a href="#" class="more-link">See how »</a></p>
      <div id="video-demo-wrap">
        <a href="#" id="video-demo"></a>
      </div>
    </div> <!-- .feature -->
    <div class="feature" id="feature-second">
      <div class="title-wrap">
        <img src="/img/icon-publish.jpeg" alt="Publish" class="title-pic">
        <h3 class="feature-title">Publish to your website or blog.</h3>
      </div>
      <p class="feature-content">Once you’ve created your forms, you can easily post them on your own website or blog. Icebrrg gives you simple instructions to share your fully-functional web forms anywhere. Your forms are seamlessly molded into the look of your own site. <a href="#" class="more-link">Learn More »</a></p>
    </div> <!-- .feature -->
    <div class="feature">
      <div class="title-wrap">
        <img src="/img/icon-unique.jpeg" alt="Unique" class="title-pic">
        <h3 class="feature-title">Designers, resell it to your clients.</h3>
      </div>
      <p class="feature-content">Icebrrg forms are completely integrated into LightCMS, the friendly CMS for web designers. </p>
      <a href="#" class="more-link">Learn More »</a>
      <div id="lightcms-wrap">
        <a href="#" id="lightcms">Light CMS</a>
      </div>
    </div> <!-- .feature -->
  </div> <!-- #feature-list -->
</div> <!-- #main -->
<footer>
  <div id="meta-list">
    <a href="#" class="footer-link">Home </a>
    <a href="#" class="footer-link">About </a>
    <a href="#" class="footer-link">FAQ </a>
    <a href="#" class="footer-link">Blog </a>
    <a href="#" class="footer-link">Contact </a>
    <a href="#" class="footer-link">Privacy Policy </a>
    <a href="#" class="footer-link">Terms of Service</a>
  </div>
  <div id="footer-desc">Icebrrg is another sophisticated yet simple web product from  <a href="#" id="footer-desc-link">Element Fusion.</a></div>
  <div id="copyright">©2006-2012 Element Fusion, LLC. All Rights Reserved.</div>
</footer>