<div id="nav-about" class="nav-wrap">
  <img class="png-img" src="/img/title-about.png" alt="About" href="#">
  <%= partial :nav, :locals => {:current_nav => "about" } %>
</div> <!--#nav-about-->
<div id="about-content" class="content-block">
  <div class="title-wrap">
    <h3 class=" intro-title-wrap">
      <a class="intro-title"><span class="en">Company</span><span class="tw">公司簡介</span></a>
    </h3>
    <h3 class="intro-title-wrap title-nav-selected">
      <a class="intro-title "><span class="en">Ben</span><span class="tw">班</span></a>
    </h3>
  </div>
  <div id="about-company">
    <div id="about-content-wrap">
      <div class="content-article">
        <div class="en">
          <p class="home-p">We, <span class="opening-title">Dreamers</span> are a new company founded in 2009. Our main line of work includes building <a class="home-link" href="http://en.wikipedia.org/wiki/Web_portal" title="">web portal</a>, <a class="home-link" href="http://en.wikipedia.org/wiki/Social_network_service">SNS apps</a> , and <a class="home-link" href="http://en.wikipedia.org/wiki/Web_widget">blog widgets</a>.</p>
          <p class="home-p">As other entrepreneurs are still trying to copy ideas from the States to Taiwan, we surface enticing ideas and work on bringing them to the western world. <a class="home-link" href="http://en.wikipedia.org/wiki/Web_2.0">Web 2.0</a> has been superb and praised significantly in the past few years. Although some people consider it <a class="home-link" href="http://www.techcrunch.com/2007/01/07/bubble-bubble-bubble/">overrated</a>, we still believe it has its own business module more than just counting on the frequent page views for advertising. Besides, we simply crave to create superb, practical websites and share with the world!!! &#9786</p>
        </div>
        <div class="tw">
          <p class="home-p"><span class="opening-title">Dreamers</span> 成立於2009年. 我們專精於建設 <a class="home-link" href="http://en.wikipedia.org/wiki/Web_portal" title="">網路平台</a>, <a class="home-link" href="http://en.wikipedia.org/wiki/Social_network_service">社群網站應用程式</a>, 和<a class="home-link" href="http://en.wikipedia.org/wiki/Web_widget">部落格插件</a>.</p>
          <p class="home-p">當台灣大部分網路創業家還在拷貝國外大網站成功模式到國內. 我們反其道而行, 抱著 <a class="home-link" href="http://zh.wikipedia.org/w/index.php?title=%E6%9D%8E%E5%B0%8F%E9%BE%99&variant=zh-tw" title="李小龍">李小龍</a> - ” <a class="home-link" href="http://www.youtube.com/watch?v=4isGOEA8ccc" title="我是中國人">我是中國人</a> ” 的精神, 致力於把台灣這小小島國裡無限的創意 <a class="home-link" href="http://mr6.cc/?p=219" title="發送至世界各地">發送至世界各地</a> ! 好吧, 我必須承認是因為台灣網路市場太小. 但網路是無界的, 何必拘束在地域的這框框裡呢? <a class="home-link" href="http://en.wikipedia.org/wiki/Web_2.0">Web 2.0</a> 這幾年來一直是個炙手可熱的話題. 隨然2008年大家都認為她 <a class="home-link" href="http://www.techcrunch.com/2007/01/07/bubble-bubble-bubble/">泡沫化了</a>, 但我們仍然相信他有自己的經營模式而非只靠流量來換取廣告費. 撇開這些, 我們只是想做一些很酷又實用的網站和大家一起玩!!! &#9786 </p>
        </div>
      </div> <!-- .content-article -->
      <div class="gallery-wrap">
        <div class="gallery">
          <a class="gallery-link" href="/img/img-1.jpg"><img class="gallery-img" src="/img/imgP1.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-2.jpg"><img class="gallery-img" src="/img/imgP2.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-3.jpg"><img class="gallery-img" src="/img/imgP3.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-4.jpg"><img class="gallery-img" src="/img/imgP4.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-5.jpg"><img class="gallery-img" src="/img/imgP5.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-6.jpg"><img class="gallery-img" src="/img/imgP6.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-7.jpg"><img class="gallery-img" src="/img/imgP7.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-8.jpg"><img class="gallery-img" src="/img/imgP8.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-9.jpg"><img class="gallery-img" src="/img/imgP9.jpg" alt=""></a>
          <a class="gallery-link" href="/img/img-10.jpg"><img class="gallery-img" src="/img/imgP10.jpg" alt=""></a>
        </div> <!-- .gallery -->
      </div> <!-- .gallery-wrap -->
      <div id="share-link-wrap">
        <ul>
          <li class="share-item"><span class="en">share this site on: </span><span class="tw">加入網路書籤:</span></li>
          <li class="share-item"><a class="share-link" href="http://delicious.com/"><img src="/img/icon-delicious.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://www.google.com/bookmarks/"><img src="/img/icon-furl.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://www.hemidemi.com/"><img src="/img/icon-simpy.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://myshare.com.tw/"><img src="/img/icon-faves.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://bookmark.yahoo.com/"><img src="/img/icon-digg.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://funp.com/"><img src="/img/icon-reddit.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://www.push-reporter.com/"><img src="/img/icon-diigo.png" alt=""></a></li>
          <li class="share-item"><a class="share-link" href="http://www.youpush.net/"><img src="/img/icon-google.png" alt=""></a></li>
        </ul>
      </div> <!-- #share-link-wrap -->
    </div> <!-- #about-content-wrap -->
    <div id="about-company-info">
      <a id="about-logo" href="#">
        <img src="/img/aboutlogo.jpg" alt="">
      </a>
      <div id="about-name-since-wrap">
        <ul>
          <li id="company-name"><span class="en">Dreamers Corp.</span><span class="tw">都瑪斯股份有限公司</span></li>
          <li id="since-time"><span class="en">Established Feb 2009</span><span class="tw">成立於2009年2月</span></li>
        </ul>
      </div>
      <div id="meta">
        <ul>
          <li class="meta-item"><span id="vat-no"><span class="en">VAT NO.</span><span class="tw">統一編號:</span></span>24321951</li>
          <li class="meta-item"><span class="en">T</span><span class="tw">電話</span>. +886-2-27153759</li>
          <li class="meta-item"><span class="en">F</span><span class="tw">傳真</span>. +886-2-27153759</li>
          <li class="meta-item"><span class="en">1F. , No.10, Alley 1, Lane 56, Sec. 4,</span><span class="tw">台北市民生東路4段56巷1弄10號 </span></li>
          <li class="meta-item"><span class="en">Minsheng E. Rd Taipei, Taiwan</span><span class="tw"></span></li>
        </ul>
      </div>
    </div> <!--#about-company-info-->
  </div> <!--#about-company-->
  <div id="about-ben">
    <div id="about-ben-content">
      <h4 id="title-creatived"></h3>
      <div id="ben-content-article" class="content-article">
        <div class="en">
          <p class="home-p ben-content-p">Raised in a strict family, his childhood was disciplined in a stringent atmosphere. His words were terse before age 13. He had purchased his first motorbike and <span class="content-span">scored an official girlfriend by the age of 15</span>. Until high school, he was required to study a painstaking fourteen hours a day. </p>
          <p class="home-p ben-content-p">He has always had the rebellious spirit deep in his soul, always wanting to challenge the existing rules. At age 17, he was suspended from high school and driven away to Melbourne, Australia. The young explorer landed his first car at age 18, for the price of $2000. By age 21, he had dropped out of college. He continued by serving in the army as a financial officer of the brigade, and completed service by age 22. <span class="content-span">At age 23 a career began when he became a mechanical engineer</span>, and he became the chief mechanical engineer of a plastic-injection machinery corporation by age 24. Soon he was known as the hottest engineer in the industry with a 19-year-old heart in a 25-year-old body.</p>
          <p class="home-p ben-content-p">Later he decided to <span class="content-span">give up all the respect and salary he earned by plunging into the mysterious land of internet jungle at age 27 for making all his dreams come true</span>. He believes in the internet as he believes in love. He believes the greatest thing God has ever created is love, and the greatest thing human being ever created is internet. Now he is about to make the internet better than love!</p>
          <p class="home-p ben-content-p">Lavishly, the guy decorates with playboy exterior but fragile interior. <span class="content-span">He looks like a player but he is a prayer</span>; lay with countless girls and fallen in love with five of them. <a class="home-link" href="http://www.youtube.com/watch?v=NcXnchu1xDU&feature=related" title=""> Cheated? Yes, once. However he’s been cheated as well</a>. What is the most romantic, passionate thing he’s done for his girlfriend? How about igniting fireworks, strumming the guitar while singing her birthday song?</p>
          <p class="home-p ben-content-p">He’s smiley &#9786, groovy, horny and passionate. He’s also talented and creative. Plus, he’s a helpless romantic. His name is <span class="opening-title">Ben</span>.</p>
        </div> <!--en-->
        <div class="tw">
          <p class="home-p ben-content-p">他生長在一個管教嚴厲的家庭. 13歲以前沉默寡言. <span class="content-span">15歲時買了第一台摩托車且交了第一個女友</span>. 高中之前每天都被逼著念14小時的書. </p>
          <p class="home-p ben-content-p">但骨子裡他性格叛逆, 桀傲不遜. 總是愛挑戰現有體制的拘束. 17歲時休學前往澳洲墨爾本. 這位小探險家在18歲時存了2000澳幣買了他人生第一部車. 21歲輟學回台灣服兵役. 22歲退伍之前擔任指揮部行政士. 退伍後不削在父親公司上班,<span class="content-span">23歲開始在一家塑膠射出成型機製當機構工程師</span>, 一年多後升上了設計課課長. 當時的他才24歲, 並在業界成為一位炙手可熱的搶手貨. 直到25歲他才意識到原來自己已不再是19歲的小男孩. </p>
          <p class="home-p ben-content-p"><span class="content-span">27歲時為了完成夢, 他決定放棄現有的一切,勇敢的投身到網路創業的紅海</span>. 他相信網路就跟戀愛一樣甜美. 愛情是上帝創造最美好的事, 網路則是人類最突破的創造, 而現在他將試著破除這個極限!</p>
          <p class="home-p ben-content-p">毫不做作的, 在他花花公子的外表之下卻有顆脆弱的內心. <span>他看似玩咖卻是個俗辣</span>; , 上過很多女人但真正愛的有5個. 在愛情裡受過傷害卻 <a href="http://www.youtube.com/watch?v=NcXnchu1xDU&feature=related" title=""> 不小心也傷了別人</a>. 這輩子做過最浪漫的事是在女友生日的時候捧著蛋糕一面放煙火聽著她許願一面彈著吉它唱情歌. </p>
          <p class="home-p ben-content-p">他總是滿臉微笑&#9786, 他聰明並且充滿創造力, 他熱情外加一點色情, 他不追求時尚甚至有點復古. 除此之外他還是個浪漫到無可救藥的傢伙. 他的名字叫做 <span>班</span>.</p>
        </div> <!--tw-->
      </div> <!-- .content-article -->
      <h4 id="title-creatived-bottom">Creative Director</h3>
    </div> <!--#about-ben-content-->
    <div id="ben-info">
      <img id="ben-logo" src="/img/aboutben.jpg" alt="ben-logo">
      <div id="ben-info-title-wrap">
        <ul>
          <li id="creative-title">Creative Director</li>
          <li>Funder of Dreamers Corp.</li>
        </ul>
      </div> <!-- #ben-info-title-wrap -->
      <div id="ben-info-meta-wrap">
        <ul>
          <li>E-mail:</li>
          <li><img src="/img/mail-ben.gif" alt="ben@dreamerslab.com"></li>
          <li id="creative-twitter-item"><a id="creative-twitter-link" href="http://twitter.com/benben0815"><img class="png-img" src="/img/twitter.png" alt="Twitter">Follow me on twitter</a></li>
        </ul>
      </div>
    </div><!--#ben-info-->
  </div> <!--#about-ben-->
</div> <!--#about-content-->