<nav>
  <ul>
    <li class="nav-item nav-about">
      <a class="nav-link <%= nav_selected current_nav, "about" %>"><span class="en">About</span><span class="tw">關於</span></a>
    </li>
    <li class="nav-item nav-recruit">
      <a class="nav-link <%= nav_selected current_nav, "recruit" %>"><span class="en">Recruit</span><span class="tw">徵才</span></a>
    </li>
    <li class="nav-item nav-contact">
      <a class="nav-link <%= nav_selected current_nav, "contact" %>"><span class="en">Contact</span><span class="tw">聯絡我們</span></a>
    </li>
    <li class="nav-item nav-blog">
      <a class="nav-link <%= nav_selected current_nav, "blog" %>"><span class="en">Blog</span><span class="tw">部落格</span></a>
    </li>
  </ul>
</nav>