/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
body {
  font-family: sans-serif;
}

/* line 15, ../sass/screen.sass */
a {
  color: #222222;
  text-decoration: none;
  font-family: sans-serif;
}

/* line 20, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 23, ../sass/screen.sass */
a, img {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a, img {
  *display: inline;
}

/* line 27, ../sass/screen.sass */
#page-wrapper {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  width: 1261px;
  height: 771px;
  margin: 0 auto;
}

/* line 34, ../sass/screen.sass */
#header {
  background: url("/img/header-bg.png");
  margin: 0 auto;
  width: 800px;
  height: 176px;
  position: relative;
}

/* line 41, ../sass/screen.sass */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/logo.png?1329386693');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 139px;
  height: 74px;
  position: absolute;
  top: 51px;
  left: 20px;
}

/* line 47, ../sass/screen.sass */
#nav-item-portfolio {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/nav-portfolio.png?1329385033');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 50px;
  position: absolute;
  top: 51px;
  right: 145px;
}

/* line 53, ../sass/screen.sass */
#nav-item-about-me {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/nav-about-me.png?1329385033');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 74px;
  height: 50px;
  position: absolute;
  top: 51px;
}

/* line 58, ../sass/screen.sass */
#nav-item-lion {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/nav-float.png?1329385145');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 86px;
  height: 10px;
  position: absolute;
  top: 13px;
}

/* line 63, ../sass/screen.sass */
#nav-item-about-me, #nav-item-lion {
  right: 38px;
}

/* line 66, ../sass/screen.sass */
#info {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/info.png?1329386721');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 167px;
  height: 10px;
  position: absolute;
  top: 146px;
  left: 20px;
}

/* line 72, ../sass/screen.sass */
#bg-left {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/bg-left.png?1329385512');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 230px;
  height: 774px;
  position: absolute;
  top: 0;
  left: 1px;
  z-index: 2;
}

/* line 79, ../sass/screen.sass */
#bg-right {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/bg-right.png?1329385493');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 231px;
  height: 774px;
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 2;
}

/* line 86, ../sass/screen.sass */
#gallery {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/gallery.png?1329385319');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 800px;
  height: 372px;
  position: absolute;
  top: 243px;
  left: 230px;
}

/* line 92, ../sass/screen.sass */
#bg-middle-01 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/bg-middle-01.png?1329385529');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 800px;
  height: 67px;
  position: absolute;
  top: 176px;
  left: 230px;
}

/* line 98, ../sass/screen.sass */
#bg-middle-02 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/bg-middle-02.png?1329385577');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 800px;
  height: 128px;
  position: absolute;
  top: 614px;
  left: 230px;
}

/* line 104, ../sass/screen.sass */
#copyright {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/copyright.png?1329385381');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 428px;
  height: 30px;
  position: absolute;
  top: 741px;
  left: 230px;
}

/* line 110, ../sass/screen.sass */
#twitter {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/twitter-logo.png?1329385415');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 169px;
  height: 30px;
  position: absolute;
  top: 741px;
  right: 231px;
}

/* line 116, ../sass/screen.sass */
#footer {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/footer.png?1329391058');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 221px;
  height: 30px;
  position: absolute;
  top: 741px;
  right: 399px;
}
