/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.sass */
body {
  background: url("/img/background.png");
  font-family: sans-serif;
}

/* line 16, ../sass/screen.sass */
a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

/* line 21, ../sass/screen.sass */
a:hover {
  text-decoration: underline;
}

/* line 24, ../sass/screen.sass */
a, img {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a, img {
  *display: inline;
}

/* line 28, ../sass/screen.sass */
#page-wrapper {
  width: 1261px;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

/* line 33, ../sass/screen.sass */
#header {
  text-align: center;
}

/* line 36, ../sass/screen.sass */
#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/logo.png?1329307034');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 60px;
  height: 72px;
  margin: 0 auto;
}

/* line 40, ../sass/screen.sass */
nav {
  overflow: hidden;
  *zoom: 1;
  color: white;
  font-size: 25px;
  font-style: normal;
  margin: 0 auto;
  padding: 40px 0 0 0;
  text-align: center;
}

/* line 49, ../sass/screen.sass */
.nav-item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 38px;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav-item {
  *display: inline;
}

/* line 53, ../sass/screen.sass */
#nav-home {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/nav-home.png?1329307266');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 41px;
  height: 17px;
}

/* line 56, ../sass/screen.sass */
#nav-work {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/nav-work.png?1329307266');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 44px;
  height: 17px;
}

/* line 59, ../sass/screen.sass */
#nav-blog {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/nav-blog.png?1329307266');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 36px;
  height: 17px;
}

/* line 62, ../sass/screen.sass */
#gallery-wrapper {
  overflow: hidden;
  *zoom: 1;
  width: 960px;
  margin: 0 auto;
  padding: 2px 0 0;
}

/* line 68, ../sass/screen.sass */
#desc-top {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/gallery-top.png?1329307112');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 360px;
  height: 1px;
  margin: 0 auto;
  padding: 10px 0;
}

/* line 73, ../sass/screen.sass */
#gallery-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/gallery-title.png?1329306980');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 325px;
  height: 46px;
  margin: 27px auto 0;
}

/* line 77, ../sass/screen.sass */
#gallery-top {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/gallery-bottom.png?1329307171');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 940px;
  height: 1px;
  margin: 42px auto 0;
}

/* line 81, ../sass/screen.sass */
#gallery-list-wrapper {
  overflow: hidden;
  *zoom: 1;
  padding: 30px 0 0 0;
  text-align: center;
}

/* line 86, ../sass/screen.sass */
.gallery-item {
  display: inline;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 10px;
  height: 277px;
  width: 220px;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.gallery-item {
  *display: inline;
}

/* line 93, ../sass/screen.sass */
.gallery-span {
  color: #0491ab;
}

/* line 96, ../sass/screen.sass */
.item-title {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: #333333;
  font-size: 17px;
  padding: 17px 0 2px 0;
  border-bottom: 1px solid #aaaaaa;
}
/* line 7, ../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.item-title {
  *display: inline;
}

/* line 103, ../sass/screen.sass */
.item-subtitle {
  color: #333333;
  padding: 3px 0 14px 0;
  font-size: 12px;
  line-height: 17px;
}

/* line 109, ../sass/screen.sass */
#gallery-bottom {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/img/gallery-bottom.png?1329307171');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 940px;
  height: 1px;
  margin: 52px auto 0;
}

/* line 114, ../sass/screen.sass */
footer {
  color: #444444;
  text-align: center;
  padding: 15px;
  font-size: 12px;
  line-height: 17px;
}
