/* line 3, ../../sass/common/util.sass */
.center {
  margin-right: auto;
  margin-left: auto;
}

/* line 7, ../../sass/common/util.sass */
.align-c {
  text-align: center;
}

/* line 10, ../../sass/common/util.sass */
.align-r {
  text-align: right;
}

/* line 13, ../../sass/common/util.sass */
.float-l {
  float: left;
  display: inline;
}

/* line 16, ../../sass/common/util.sass */
.float-r {
  float: right;
  display: inline;
}

/* line 20, ../../sass/common/util.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 27, ../../sass/common/util.sass */
.clearfix {
  display: inline-block;
}

/* line 31, ../../sass/common/util.sass */
* html .clearfix {
  height: 1%;
}

/* line 34, ../../sass/common/util.sass */
.clearfix {
  display: block;
}

/* line 37, ../../sass/common/util.sass */
.hidden {
  display: none;
}
