<% content_for :head do %>
  <title>Getfinch.com</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<% end %>
<div id="page-wrapper">
  <div id="sublogo"></div>
  <div id="header">
    <header>
       <h1><a id="logo" href="#">Getfinch</a></h1>
       <p id="desc"><%= lorem.sentence %></p>
    </header><!-- /header -->
    <nav>
      <ul>
        <li class="nav-item"><a class="nav-link" href="#">About Mlchat</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About Mlchat</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
    </nav>
  </div> <!-- #header -->
  <div id="main-wrapper">
    <div id="here">
      <h2 id="here">Here</h2>
      <h3 class="subtitle">FRESH FROM THE BLOG</h3>
      <h3 id="here-title">Long Live the Redsign</h3>
      <p><%= lorem.sentences 3 %></p>
      <a href="#" id="here-more">CONTINUE READING</a>
    </div>
    <div id="there">
      <h2 id="there">There</h2>
      <h3 class="subtitle">FRESH FROM THE BLOG</h3>
      <% 5.times do %>
        <h3 class="there-title"></h3>
        <h4 class="there-subtitle"></h4>
      <% end %>
    </div>
    <div id="about">
      <h2 id="about">About</h2>
      <h3 class="subtitle">BEHIND THE MYSTERY</h3>
      <p id="about-content"><%= lorem.sentences 4 %></p>
    </div>
    <div id="share">
      <ul>
        <li><a href="#" class="shrare-item">Twitter</a></li>
        <li><a href="#" class="shrare-item">RSS</a></li>
        <li><a href="#" class="shrare-item">Dribble</a></li>
      </ul>
    </div>
  </div> <!-- #main-wrapper -->
  <footer>
    <div id="copyright"></div>
    <div id="smashing"></div>
  </footer>
</div> <!-- #page-wrapper -->
