<% content_for :head do %>
  <title>Mark Boulton Design | Web Design</title>
<% end %>
<!-- <div id="original"></div> -->

<div id="header-bg">
  <div id="header">
    <header>
      <h1><a href="#" id="logo">Mark Boulton Design</a></h1>
    </header>
    <nav>
      <ul>
        <li class="nav-item"><a href="#" class="nav-link">Our work</a></li>
        <li class="nav-item"><a href="#" class="nav-link">What we do</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
      </ul>
    </nav>
    <div id="desc-wrap">
      <div class="desc">
        <h3 class="desc-title">De Standaard</h3>
        <div class="desc-content">De Standaard (The Standard) is a Flemish daily newspaper. Mark Boulton Design were hired to redesign the online newspaper. <a href="#" class="desc-link">Read the case study</a> or <a href="#" class="desc-link">visit the site.</a></div>
        <div id="space"></div>
        <div class="pre-next-wrap"><a href="#" class="pre"></a><a href="#" class="next"></a></div>
      </div>
    </div> <!-- #desc-wrap -->
  </div> <!-- #header -->
</div>
<div id="h2-intro-bg">
  <div id="h2-intro-wrap">
    <h2>
      From <a href="#" class="h2-link">distinctive brands</a> and <a href="#" class="h2-link">stunning websites</a> to <a href="#" class="h2-link">easy-to-use user interfaces</a>. We make smart, simple stuff; beautifully.
    </h2>
    <div class="intro">
      <h3 class="intro-title">WHAT WE DO?</h3>
      <div class="intro-content">Do you need a <span class="what-span">beautiful website</span> designed to set you apart from the competition?</div>
      <div class="intro-content">Do you need an <span class="what-span">interface for your web application</span> designed to help users achieve their goals?</div>
      <div class="intro-content">Do you need your <span class="what-span">audience to fall in love</span> with your product?</div>
      <div class="intro-content">Do you have a <span class="what-span">brand that needs to work online</span> but currently doesn’t?</div>
      <div class="what-conclusion">If you answered ‘yes’ to any of the above, then <a href="#" class="intro-link">we need to talk</a>. Read more about <a href="#" class="intro-link">our services</a>.</div>
    </div>
    <div class="intro">
      <h3 class="intro-title">OUR WORK</h3>
      <img id="our-pic" src="/img/helm.jpeg" alt="Helm">
      <a href="#" class="intro-link">English Heritage</a>
      <div id="our-content" class="intro-content">The Historic Environment - Local Management (HELM) is a division of English Heritage, existing to protect and promote England's most historic environments. We worked with Box UK to redesign their site.</div>
    </div>
    <div class="intro">
      <h3 class="intro-title">NEWS</h3>
      <% 2.times do %>
      <div class="intro-content"><%= lorem.paragraph %></div>
      <% end %>
    </div>
    <div id="intro-last" class="intro">
      <h3 class="intro-title">GET IN TOUCH</h3>
      <div class="intro-content"><%= lorem.paragraph %></div>
      <h3 class="intro-title">WOULD YOU LIKE A QUOTE?</h3>
      <div class="intro-content"><%= lorem.sentence %></div>
    </div>
  </div> <!-- #h2-intro-wrap -->
</div> <!-- #h2-intro-bg -->
<footer>
  <div id="meta-info">
    <div id="meta">
      <ul>
        <li class="meta-item"><a href="#" class="meta-link">JOBS</a></li>
        <li class="meta-item"><a href="#" class="meta-link">ACCESSIBILITY</a></li>
        <li class="meta-item"><a href="#" class="meta-link">CONTACT US</a></li>
      </ul>
    </div>
    <a href="#" id="twitter">FOLLOW MARK BOULTON DESIGN ON TWITTER</a>
  </div>
  <div id="copyright">© Mark Boulton Design 2010</div>
</footer>