/* line 4, ../sass/contact.sass */
#wrap {
  top: -406px;
}

/* line 7, ../sass/contact.sass */
#contact {
  position: absolute;
  top: 852px;
  z-index: 1;
}

/* line 12, ../sass/contact.sass */
#contact-wrap {
  position: absolute;
  top: 9px;
  left: 60px;
}

/* line 17, ../sass/contact.sass */
#contact-title {
  text-indent: -9999px;
  width: 198px;
  height: 22px;
  background: url('../img/sprite-s182a8e7430.png') no-repeat 0 -217px;
}

/* line 20, ../sass/contact.sass */
#contact-info {
  margin: 10px 0 0;
  text-indent: -9999px;
  width: 199px;
  height: 61px;
  background: url('../img/sprite-s182a8e7430.png') no-repeat 0 -148px;
}

/* line 24, ../sass/contact.sass */
#contact-form-wrap {
  position: absolute;
  top: 0;
  left: 360px;
  width: 300px;
}

/* line 30, ../sass/contact.sass */
.form-row {
  padding: 0 0 15px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

/* line 35, ../sass/contact.sass */
#corp {
  padding: 0 0 33px;
}

/* line 38, ../sass/contact.sass */
#corp-title {
  float: left;
  text-indent: -9999px;
  width: 46px;
  height: 10px;
  background: url('../img/sprite-s182a8e7430.png') no-repeat 0 -278px;
}

/* line 42, ../sass/contact.sass */
#corp-email {
  margin: 0 80px 0 0;
  text-indent: -9999px;
  width: 120px;
  height: 11px;
  background: url('../img/sprite-s182a8e7430.png') no-repeat 0 -267px;
}

/* line 46, ../sass/contact.sass */
#contact-email, #contact-name {
  float: left;
  margin: 5px 0 0;
}

/* line 50, ../sass/contact.sass */
#contact-email {
  text-indent: -9999px;
  width: 80px;
  height: 8px;
  background: url('../img/sprite-s182a8e7430.png') no-repeat 0 -140px;
}

/* line 53, ../sass/contact.sass */
#contact-name {
  text-indent: -9999px;
  width: 65px;
  height: 8px;
  background: url('../img/sprite-s182a8e7430.png') no-repeat 0 -209px;
}

/* line 56, ../sass/contact.sass */
#message {
  height: 100px;
}

/* line 59, ../sass/contact.sass */
#send {
  position: absolute;
  bottom: 15px;
}

/* line 63, ../sass/contact.sass */
#message, #corp-email, .contact-input {
  float: right;
}

/* line 66, ../sass/contact.sass */
#message, .contact-input {
  color: white;
  width: 197px;
  background: black;
  border: 1px solid white;
}
