<% content_for :head do %>
  <title>Emotionslive</title>
<% end %>
<div id="page-wrap">
  <div id="shadow"></div>
  <div id="main-pic"></div>
  <div id="main-wrap">
    <div id="header">
      <header>
         <h1><a id="logo" href="#">Emotionslive</a></h1>
      </header><!-- /header -->
      <nav>
        <ul>
          <li class="nav-item"><a id="nav-home" class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a id="nav-portfolio" class="nav-link" href="#">Portfolio</a></li>
          <li class="nav-item"><a id="nav-about" class="nav-link" href="#">About Me</a></li>
        </ul>
      </nav>
    </div> <!-- #header -->
    <div id="about-wrap">
      <h2 id="about">About This Site</h2>
      <p class="info"><%= lorem.sentences 3 %></p>
      <p class="info">Enjoy!</p>
    </div> <!-- #about -->
    <div id="gallery-wrap">
      <div id="gallery-list">
        <ul>
          <% 6.times do | num | %>
          <li class="gallery-item">
            <h3 id="item-title-logo">Secret</h3>
            <div class="photo-wrap">
              <a class="item-link" href="#">
                <img src="/img/gallery-<%= num+1%>.jpeg" alt="Gallery item">
              </a>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
      <div id="gallery-bottom-wrap">
        <a id="gallery-more" href="#" ></a>
      </div>
    </div> <!-- #gallery-list -->
    <footer>
      <a id="contact" href="mailto:fake@email.com"></a>
    </footer>
  </div> <!-- #main-wrap -->
</div> <!-- #page-wrap -->
<div id="copyright">2010 All Right Reserved</div>