<% content_for :head do %>
  <title>Fully Illustrated - The Portfolio of Michael Heald</title>
<% end %>
<!-- <div id="original"></div> -->
<div id="header-bg">
  <div id="header">
    <header>
      <h1><a href="#" id="logo">Fully Illustrated - The Portfolio of Michael Heald</a></h1>
    </header>
    <nav>
      <ul>
        <li class="nav-item"><a href="#" id="nav-selected" class="nav-link nav-home">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link nav-about">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link nav-portfolio">Portfolio</a></li>
        <li class="nav-item"><a href="#" class="nav-link nav-blog">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link nav-contact">Contact</a></li>
      </ul>
      <div id="nav-highlight"></div>
    </nav>
  </div> <!-- #header -->
</div> <!-- #header-bg -->
<div id="showcase">
  <a href="#"><img src="/img/fully-illustrated-homepage-design.jpeg" alt="Fully illustrated homepage design"></a>
  <div id="showcase-nav">
    <ul>
      <li class="show-item"><a href="#" class="show-link show-latest">Latest</a></li>
      <li class="show-item"><a href="#" id="show-selected" class="show-link show-design">Design</a></li>
      <li class="show-item"><a href="#" class="show-link show-illu">Illustration</a></li>
      <li class="show-item"><a href="#" class="show-link show-branding">Branding</a></li>
      <li class="show-item"><a href="#" class="show-link show-3d">3D Motion</a></li>
      <li class="show-item"><a href="#" class="show-link show-photography">Photography</a></li>
    </ul>
    <div id="show-seleted"></div>
  </div> <!-- #showcase-nav -->
</div> <!-- #showcase -->
<div id="desc-blog-wrap">
  <div id="desc">
    <h3 class="title">A little about Fully Illustrated...</h3>
    <p class="content">Fully Illustrated is a small, award winning digital creative services company that specialises in just about every creative service you could wish for. It is owned and run by me, Michael Heald – an over enthused creative. Fully Illustrated was set up initially as my personal portfolio site over 10 years ago and grew into a full service creative agency in late 2007. Fully Illustrated while being small in scale, works on a truly global level, servicing the creative needs of the United States, Far and Middle East, Canada and Europe. A solid 10 years new media experience allows Fully Illustrated to offer all manner of creative services, from design and branding, to illustration and 3D motion graphics. What all this equates to is that Fully Illustrated offers the services and experience of large new media agencies at hugely reduced prices coupled with a giant dose of personal service and oodles of passion.</p>
    <a href="#" class="link-with-img">Read more</a>
    <a href="#" class="link-with-img">Contact</a>
  </div>
  <div id="blog">
    <h3 class="title">Fi-Blog</h3>
    <a href="#" class="title-link">Happy New Year & a little freebie :) - 13 January 2012</a>
    <p class="content">Hey Everyone, Happy New Year!!!  I’m a little late off the mark with that comment, but hey, it’s the thought the counts right! I’m massively excited about 2012 as there is SO much going on here at Fully Illustrated. Loads of new releases, announcements, you name it. It’s going to be a majorly busy 12 [...]</p>
    <a href="#" id="to-blog-link" class="link-with-img">To the blog</a>
  </div>
</div> <!-- #desc-blog-wrap -->
<div id="latest-sneaky-wrap">
  <div id="latest">
    <h3 class="title">Latest releases..</h3>
    <div class="latest-block">
      <a href="#" id="modern">Modern War Live Latest</a>
      <h4>
        <a href="#" class="title-link">Modern War Live</a>
      </h4>
      <p class="content">This was my first project with Triniti Interactive and boy was it a fun one! Modern War Live is an MMO for the iPhone and I was tasked with creating the brand and main user interface.</p>
    </div>
    <div class="latest-block">
      <a href="#" id="nd">ND HUD UI Latest</a>
      <h4>
        <a href="#" class="title-link">Nuclear Dawn – UI</a>
      </h4>
      <p class="content">It had always been a dream of mine to work on the UI of a first person shooter so when I was approached by Interwave Studios to create the UI for Nuclear Dawn I couldn't believe my luck.</p>
    </div>
  </div> <!-- #latest -->
  <div id="sneaky">
    <h3 class="title">Sneaky Peeks...</h3>
    <div id="sneaky-block">
      <% 15.times do %>
      <a href="#" class="sneaky-link">ND HUD UI Latest</a>
      <% end %>
      <h4>
        <a href="#" id="sneaky-title-link" class="title-link">Sneaky Peeks? What are they then?</a>
      </h4>
      <p class="content">This is a small collection of 15 random snippets from across the site. The idea is simple really, it's designed to catch your eye. See something interesting? Something you haven't seen before? Well go on, give it a click, what's the worst that could happen?</p>
    </div>
  </div> <!-- #sneaky -->
</div> <!-- #latest-sneaky-wrap -->
<div id="fave-twitter-wrap">
  <div id="fave">
    <h3 class="title">FI-Faves...</h3>
    <div class="fave-block">
      <a href="#" id="inter">ISOTX</a>
      <h4>
        <a href="#" class="title-link">ISOTX</a>
      </h4>
      <p class="content">ISOTX have got some seriously kick ass war games to their name, and when they got in touch requesting an all new brand and website, I couldn’t wait to tackle the project!</p>
    </div>
    <div class="fave-block">
      <a href="#" id="puffr">HEDONE</a>
      <h4>
        <a href="#" class="title-link">Hedone</a>
      </h4>
      <p class="content">Epic project! This was the teaser site for Acony's new free to play FPS for the PS3, X360 and Steam.</p>
    </div>
  </div> <!-- #fave -->
  <div id="twitter">
    <h3 class="title">Twittering</h3>
    <div id="twitter-block">
      <a href="#" id="twitter-link">Twittering</a>
      <p class="content">RT <a href="#" class="twitter-block-link">@cascadiagames</a>: Pretty pleased with my pre-launch work notifying reviewers for <a href="#" class="twitter-block-link">#Cavorite2</a>. Need more though. If you are a reviewer, P ...   <a href="#" class="twitter-block-link">more...</a></p>
    </div>
  </div> <!-- #twitter -->
</div> <!-- #fave-twitter-wrap -->
<footer>
  <div id="meta-nav">
    <ul>
      <li class="meta-item"><a href="#" id="meta-link-home" class="meta-link">Home</a></li>
      <% 6.times do %>
      <li class="meta-item"><a href="#" class="meta-link">Home</a></li>
      <% end %>
    </ul>
  </div>
  <div id="copyright"><span class="meta-span">©</span> All Rights Reserved - Michael Heald - Fully Illustrated Ltd 2011</div>
</footer>