/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset"
@import "compass/css3/inline-block"
@import "compass/utilities/general/float"
@import "compass/typography/text/replacement"
@import "compass/utilities/general/clearfix"
@import "lib"

body
  background: url("/img/background.png")
  font-family: sans-serif

a
  color: #fff
  text-decoration: none
  font-family: sans-serif

a:hover
  text-decoration: underline

a, img
  +inline-block
  vertical-align: top

#page-wrap
  width: 1261px
  margin: 0 auto
  padding: 30px 0 0

header
  text-align: center

#logo
  @include bg_text(60px, 72px, "logo")
  margin: 0 auto

nav
  +clearfix
  color: #fff
  font-size: 25px
  font-style: normal
  margin: 0 auto
  padding: 40px 0 10px
  text-align: center

.nav-item
  +inline-block
  padding: 0 38px

#nav-home
  @include bg_text(41px, 17px, "nav-home")

#nav-work
  @include bg_text(44px, 17px, "nav-work")

#nav-blog
  @include bg_text(36px, 17px, "nav-blog")

#gallery-wrap
  +clearfix
  background: url("/img/gallery-top.png") no-repeat center top
  width: 960px
  margin: 0 auto
  padding: 39px 0 0

#gallery-title
  @include bg_text(325px, 46px, "gallery-title")
  margin: 0 auto

#gallery-list-wrap
  background: url("/img/gallery-bottom.png") no-repeat 50% 42px
  +clearfix
  padding: 82px 0 0
  text-align: center

.gallery-item
  +float-left
  +inline-block
  padding: 0 10px
  height: 277px
  width: 220px

.gallery-span
  color: rgb(4, 145, 171)

.item-title
  +inline-block
  color: #333
  font-size: 17px
  padding: 17px 0 2px
  border-bottom: 1px solid #aaa

.item-subtitle
  color: #333
  padding: 3px 0 14px
  font-size: 12px
  line-height: 17px

footer
  background: url("/img/gallery-bottom.png") no-repeat 50% 52px
  color: #444
  text-align: center
  padding: 67px 0
  font-size: 12px
  line-height: 17px