<% content_for :head do %>
  <title>Piipe - Creatividad a la venta!</title>
<% end %>
<!-- <div id="original"></div> -->

<div id="main">
  <header>
    <h1><a href="#" id="logo">Piipe - Creatividad a la venta!</a></h1>
  </header>
  <a href="#" id="eng">English</a>
  <a href="#" id="contact">Contacto</a>
  <a href="#" id="profile">Profile</a>
  <a href="#" id="portfolio">Portfolio</a>
  <a href="#" id="blog">Blog</a>
  <a href="#" id="designer">Graphic Designer</a>
  <a href="#" id="illustrator">illustrator</a>
  <a href="#" id="colombia">colombia</a>
  <div id="intro"><%= lorem.paragraph %></div>
  <div id="twitter-info-bg">
    <div id="twitter-info">"So i gave her flowers.... <a href="#" class="twitter-info-link">http://t.co/ZWwxzKWz</a>" about 6 hours ago</div>
  </div>
</div> <!-- #main -->
<footer>
  <div id="sns-link">
    <div class="sns-wrap"><a href="#" id="myspace">Myspace</a></div>
    <div class="sns-wrap"><a href="#" id="facebook">Facebook</a></div>
    <div class="sns-wrap"><a href="#" id="twitter">Twitter</a></div>
  </div>
  <div id="copyright">Copyright © Felipe Barriga 2009. All rights reserved.</div>
  <div id="powered-wrap">
    Design by:<a href="#" id="sublogo">Piipe</a>Powered by: <a href="#" id="powered">NeoclassicJH</a>
  </div>
</footer>