<% content_for :head do %>
  <title>Chriswoods</title>
<% end%>

<div id="page-wrap">
  <header>
    <h1><a id="logo" href="http://chriswoods/">Chriswoods</a></h1>
  </header>
  <nav>
    <ul>
      <li class="nav-item">
        <a href="#">advertising</a>
      </li>
      <li class="nav-item">
        <a href="#">people</a>
      </li>
      <li class="nav-item">
        <a href="#">motion</a>
      </li>
      <li class="nav-item">
        <a href="#">contact</a>
      </li>
      <li class="nav-item">
        <a href="#">login</a>
      </li>
    </ul>
  </nav>
  <div id="gallery-wrap">
    <ul>
      <% 12.times do | num | %>
      <li class="list-item"><a href="#"><img src="/img/gallery-<%= num+1 %>.png" alt=""></a></li>
      <% end %>
    </ul>
  </div>
  <div id="controller-wrap">
    <ul>
      <% 4.times do | num | %>
      <li class="controller-item"><img src="/img/controller<%= num+1 %>.png" alt=""></li>
      <% end %>
    </ul>
  </div>
</div>